@include default {
  .container {
    position: absolute;
    background-color: $color-off-white;
  }
}

/* 모바일은 모달을 전체 화면으로 표시한다. */
@include mobile {
  .container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@include desktop {
  .container {
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    border-radius: $modal-radius;
    transform: translate(-50%, -50%);
  }
}