@include default {
  .credentials-login {
    display: flex;
    flex-direction: column;
    gap: $font-small;

    @include input-text($font-normal);
    @include primary-button($font-normal);
  }
  .title {
    font-size: $font-medium;
    font-weight: 500;
  }
  .subtitle {
    font-size: $font-normal;
    font-weight: 200;
  }
}