@include default {
  .register {
    display: flex;
    flex-direction: column;

    @include primary-button($font-normal);
    gap: $font-small;
  }
  .title {
    font-size: $font-medium;
    font-weight: 500;
    white-space: pre-line;
  }
  .subtitle {
    font-size: $font-normal;
    font-weight: 200;
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include input($font-normal);

    .error-message {
      height: $font-small;
      color: $color-error;
      font-size: $font-small;
      font-weight: 400;
    }
  }
}

@include mobile {
  .title {
    /* 단어 기준으로 줄바꿈 */
    word-break: keep-all;
  }
}