/* 색상 */
$color-white: #ffffff;
$color-off-white: #fcfcfc;
$color-black: #000000;
$color-primary: #3D51CC;
$color-primary-dark: #253BC2;
$color-placeholder: #BBBBBB;
$color-error: #f44336;

/* RGBA 색상 */
$hover-background: rgba(55, 53, 47, 0.08);
