/* 모달 */
$modal-z-index: 9000;
$modal-radius: 15px;

/* 마진 */
$margin-small: 1.6rem; /* 16px */
$margin-medium: 2.4rem; /* 24px */
$margin-large: 3.2rem; /* 32px */

/* 폰트 크기 */
$font-title: 3.2rem; /* 32px */
$font-description: 2.2rem;/* 22px */

$font-h1: 2.4rem; /* 24px */
$font-h2: 2rem; /* 20px */
$font-h3: 1.9rem; /* 19px */

$font-text: 1.6rem; /* 16px */
$font-comment: 1.2rem; /* 12px */

/* 테두리 */
$border-box: 3px;